__pycache__/
*.py[cod]
*.so

.env
.venv/
env/
venv/

.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/

data/
work_dirs/
logs/
outputs/
results/
av_results/
all_scenes_results/
3dgs_result/
audio_3dgs_replaynvas_viewpoint/

*.pth
*.pt
*.ckpt
*.wav
*.flac
*.mp3
*.png
*.jpg
*.jpeg
*.pdf
*.pkl
*.sqlite
*.db
*.zip
*.tar
*.tar.gz
*.npy
*.npz
*.freeview
